@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body, html {
    height: 100%;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #9CCCCC;
    color: #070B0B;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#quiz-container {
    width: 420px;
    background-color: #F8FBFB;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    margin: 20px;
}

#game-setup div {
    margin: 10px 0;
}

#game-setup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;

}

#category, #amount, #difficulty {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1em;
    background-color: #F8FBFB;
}

#start-btn {
    padding: 12px 25px;
    background-color: #75BEBD;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    transition: background-color 0.3s ease, transform 0.1s ease;
    width: 100%;
    margin-top: 20px;
}

#start-btn:hover {
    background-color: #5D9FA0;
    transform: scale(1.05);
}